<!-- <h5 class="mb-4">{{ 'wizard.validation' | translate }}</h5> -->
<div class="card mb-5">
  <div class="card-body">
    <aw-wizard #wizard>

      <aw-wizard-step stepTitle="Etape 1" style="min-height: 120px;">
        <ng-template awWizardStepSymbol><i class="fa fa-search"></i></ng-template>
        <div class="border">
          <h4>Veuillez importer votre fichier</h4>
          <angular-file-uploader [config]="afuConfig2" [resetUpload]=resetUpload2 (ApiResponse)="docUpload($event)">
          </angular-file-uploader>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-primary" awPreviousStep disabled>Retour</button>{{" "}}
            <button type="button" class="btn btn-primary" (click)="onNextStep1()">Suivant</button>
          <!-- <button type="button" class="btn btn-primary" awPreviousStep disabled>{{ 'wizard.prev' | translate }}</button>{{" "}}
          <button type="button" class="btn btn-primary" (click)="onNextStep1()">{{ 'wizard.next' | translate }}</button> -->
        </div>
      </aw-wizard-step>

      <aw-wizard-step stepTitle="Etape 2" style="min-height: 120px;">
          <form [formGroup]="basicForm"  (ngSubmit)="onSubmit()">
              <ng-select
              [items]="people"
              [multiple]="true"
              [closeOnSelect]="false"
              [searchable]="false"
              bindLabel="Prenom_nom"
              placeholder="Choisissez un email"
              formControlName="selectedPeople">
          </ng-select>
            <!-- <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> Tout selectionnez
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.name}}
            </ng-template> -->
            
            <mat-form-field class="example-form-field">
                <mat-label>Objet</mat-label>
                <input type="text" matInput formControlName="objet" placeholder="Objet">
              </mat-form-field>
              <!-- <input type = "text" name = "objet" placeholder = "objet" ngModel> -->
              <div class="form-group">
                  <mat-chip-list aria-label="Color selection">
                    <mat-chip *ngFor="let chip of allVar | keyvalue"
                     selected [color]="chip.color" 
                     (click)="variableClick(chip)">
                      {{chip.value}}
                    </mat-chip>
                  </mat-chip-list>
                </div>
                <app-email-editor 
                [(sharedVar)]="sharedVarParent"
                (valueChange)="displayEmailVariable($event)"></app-email-editor>
                <div class="text-center">
                    <button type="button" class="btn btn-primary" awPreviousStep disabled>Retour</button>{{" "}}
                    <button type="submit" class="btn btn-primary" (click)="onNextStep1()">Envoyez</button>
                </div>
                <pre>{{sharedVarParent|json}}</pre>
           </form>
       
        <!-- <app-reactive-basic></app-reactive-basic> -->
        <!-- <ng-texteditor></ng-texteditor> -->
       
        
      </aw-wizard-step>

      <aw-wizard-step stepTitle="Etape 3" style="min-height: 120px;">
        <!-- <form #formStep3="ngForm" novalidate>
          <div class="form-group tooltip-left-bottom">
            <label>{{ 'forms.password' | translate }}</label>
            <input type="password" class="form-control" name="password" ngModel required #password="ngModel" minlength="8"
              pattern="([A-Za-z]+[0-9]|[0-9]+[A-Za-z])[A-Za-z0-9]*">
            <div *ngIf="password?.errors?.required && formStep3.submitted" class="invalid-tooltip">Password is required!
            </div>
            <div *ngIf="password?.errors?.pattern && formStep3.submitted" class="invalid-tooltip">Paswsword must contain at
              least a letter and a number!</div>
            <div *ngIf="!password?.errors?.pattern && password?.errors?.minlength && formStep3.submitted"
              class="invalid-tooltip">Paswsword must contain at least 8 characters!</div>
          </div>
        </form> -->
        <div class="text-center">
            <button type="button" class="btn btn-primary" awPreviousStep disabled>Retour</button>{{" "}}
            <button type="button" class="btn btn-primary" (click)="onNextStep1()">Suivant</button>
        </div>
      </aw-wizard-step>

      <aw-wizard-completion-step stepTitle="{{ 'wizard.done' | translate }}" style="min-height: 120px;">
        <div class="text-center complete-message-centered">
          <!-- <div *ngIf="posting">
            <div class="spinner-border text-primary" role="status">
            </div>
            <div class="mt-3">{{ 'wizard.saving' | translate }}</div>
          </div>
          <div *ngIf="!posting">
            <h2 class="mb-2">{{ 'wizard.content-thanks' | translate }}</h2>
            <p>{{ 'wizard.registered' | translate }}</p>
            </div> -->
        </div>
      </aw-wizard-completion-step>

    </aw-wizard>
  </div>
</div>
